<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.buaa.hr.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RoleServlet</servlet-name>
    <servlet-class>com.buaa.hr.controller.RoleServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.buaa.hr.controller.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeptServlet</servlet-name>
    <servlet-class>com.buaa.hr.controller.DeptServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ArchiveServlet</servlet-name>
    <servlet-class>com.buaa.hr.controller.ArchiveServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ContractServlet</servlet-name>
    <servlet-class>com.buaa.hr.controller.ContractServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EmpServlet</servlet-name>
    <servlet-class>com.buaa.hr.controller.EmpServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ResumeServlet</servlet-name>
    <servlet-class>com.buaa.hr.controller.ResumeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RewardServlet</servlet-name>
    <servlet-class>com.buaa.hr.controller.RewardServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Apply1PageForwardServlet</servlet-name>
    <servlet-class>com.buaa.hr.controller.Apply1PageForwardServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EmpTransferServlet</servlet-name>
    <servlet-class>com.buaa.hr.controller.EmpTransferServlet</servlet-class>
  </servlet>

  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RetiredEmpServlet</servlet-name>
    <servlet-class>com.buaa.hr.controller.RetiredEmpServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ExportExcelServlet</servlet-name>
    <servlet-class>com.buaa.hr.controller.ExportExcelServlet</servlet-class>
  </servlet>
  
  
  

  <servlet>
  	<servlet-name>PdfWriteServlet</servlet-name>
  	<servlet-class>com.buaa.hr.controller.PdfWriteServlet</servlet-class>
  </servlet>


<servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.buaa.hr.controller.SearchServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QuitEmployeeServlet</servlet-name>
    <servlet-class>com.buaa.hr.controller.QuitEmployeeServlet</servlet-class>
  </servlet>

  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PictureCheckCode</servlet-name>
    <servlet-class>com.buaa.hr.controller.PictureCheckCode</servlet-class>
  </servlet>

  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchByServlet</servlet-name>
    <servlet-class>com.buaa.hr.controller.SearchByServlet</servlet-class>
  </servlet>
<servlet>
   <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PageQueryProductServlet</servlet-name>
    <servlet-class>com.buaa.hr.controller.PageQueryProductServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EmpServlet2</servlet-name>
    <servlet-class>com.buaa.hr.controller.EmpServlet2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadServlet2</servlet-name>
    <servlet-class>com.buaa.hr.controller.UploadServlet2</servlet-class>
  </servlet>
  











  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoleServlet</servlet-name>
    <url-pattern>/roleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/userServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeptServlet</servlet-name>
    <url-pattern>/deptServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ArchiveServlet</servlet-name>
    <url-pattern>/ArchiveServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ContractServlet</servlet-name>
    <url-pattern>/ContractServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmpServlet</servlet-name>
    <url-pattern>/EmpServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResumeServlet</servlet-name>
    <url-pattern>/resumeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RewardServlet</servlet-name>
    <url-pattern>/RewardServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Apply1PageForwardServlet</servlet-name>
    <url-pattern>/apply1PageForwardServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmpTransferServlet</servlet-name>
    <url-pattern>/empTransferServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>RetiredEmpServlet</servlet-name>
    <url-pattern>/retiredEmpServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
  	<servlet-name>PdfWriteServlet</servlet-name>
  	<url-pattern>/pdfWriteServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuitEmployeeServlet</servlet-name>
    <url-pattern>/QuitEmployeeServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>PictureCheckCode</servlet-name>
    <url-pattern>/PictureCheckCode</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>SearchByServlet</servlet-name>
    <url-pattern>/SearchByServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PageQueryProductServlet</servlet-name>
    <url-pattern>/pageQueryProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmpServlet2</servlet-name>
    <url-pattern>/empServlet2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadServlet2</servlet-name>
    <url-pattern>/servlet/UploadServlet2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExportExcelServlet</servlet-name>
    <url-pattern>/exportExcelServlet</url-pattern>
  </servlet-mapping>


  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
    